<%# any?は要素があればtrueを返す %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    <%# pluralizeは第一引数が複数形だったら第二引数を複数形に変換する %>
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>